<TabView #tabs>
    <StackLayout class="menu__content"
                 *tabItem="{ iconSource: 'res://nav_timeline_inactive', title: 'Tijdlijn' }">
    </StackLayout>
    <StackLayout class="menu__content"
                 *tabItem="{ iconSource: 'res://nav_consumption_inactive', title: 'Vooruitkijker' }">
    </StackLayout>
    <StackLayout class="menu__content"
                 *tabItem="{ iconSource:'res://nav_chat_inactive', title: 'Chat' }">
    </StackLayout>
    <StackLayout class="menu__content"
                 *tabItem="{ iconSource: 'res://nav_settings_inactive', title: 'Zelf regelen' }">
    </StackLayout>
</TabView>
